.open-chat-button {
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
}

    .open-chat-button:hover {
        box-shadow: 0 0 10px 5px #3C8DBC;
    }

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9;
    box-shadow: 0 0 10px 5px #3C8DBC;
}

.have-message {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        box-shadow: 0 0 10px 5px #f00;
    }
}
.chat-style-right {
    background-color: #CCCCFF;
    box-shadow: 0 0 1px 1px #CCCCFF;
    border-radius: 5px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    display: inline-block;
    text-align: justify;
    margin-bottom: 4px;
    margin-left: 50px;
}

.chat-style-left {
    background-color: #DDDDDD;
    box-shadow: 0 0 1px 1px #DDDDDD;
    border-radius: 5px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    display: inline-block;
    text-align: justify;
    margin-bottom: 4px;
    margin-right: 50px;
}

.chat-smiley {
    width: 30px;
    height: 30px;
    transition: transform .2s;
    margin: 0 auto;
}

    .chat-smiley:hover {
        transform: scale(1.5);
    }

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, start);
}

@keyframes blink {
    80% {
        visibility: hidden;
    }
}

.mvc-grid {
    line-height: 1em;
    position: relative;
    overflow-x: auto;
    font-size: 1.3rem;
}


    .mvc-grid th, .mvc-grid td {
        border: 1px solid #dee2e6;
        padding: 0.4em;
    }

.mvc-grid-sort::after {
    font-size: 1.3em;
    content: '\2193';
    opacity: 0;
}

.mvc-grid-sort::before {
    margin-right: -7px;
    font-size: 1.3em;
    content: '\2191';
    opacity: 0;
}

.mvc-grid .desc .mvc-grid-sort::after,
.mvc-grid .asc .mvc-grid-sort::before {
    opacity: 1;
}

.mvc-grid-row-filters .mvc-grid-value {
    border: 0.5px solid #aaaaaa;
    margin-right: 0.25em;
    padding: 0 0.2em;
    font: inherit;
    flex: 1;
}

input.mvc-grid-value {
    min-width: 1em;
    max-width: 100%;
    width: 100%;
}

.mvc-grid-row-filters [readonly] {
    background-color: #e4e4e4;
}

.mvc-grid-row-filters.mvc-grid-headers .filterable {
    padding: 0;
}

.mvc-grid-row-filters.mvc-grid-headers .mvc-grid-value {
    padding: 0.75em 3.5em 0.75em 0.75em;
}

.mvc-grid-popup {
        font-size: 1.3rem;
    }

    .mvc-grid-popup .mvc-grid-value,
    .mvc-grid-popup .mvc-grid-method,
    .mvc-grid-popup .mvc-grid-operator {
        border: 1px solid #cccccc;
        box-sizing: border-box;
        font-size: 1.3rem;
        padding: 0 0.2em;
        height: 2.5em;
        width: 100%;
    }