<!-- footer -->
<footer class="footer py-5">
    <div class="container py-sm-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 footer-top">
                <h3 class="mb-4 pb-3 w3f_title">Subscribe Us</h3>
                <p>By subscribing to our mailing list you will always get latest news, offers and updates from us.</p>
                <form action="#" method="post">
                    <input type="email" name="Email" placeholder="Enter your email..." required="">
                    <button class="btn1"><i class="fas fa-arrow-right" aria-hidden="true"></i></button>
                    <div class="clearfix"> </div>
                </form>

            </div>
            <div class="col-lg-2  col-md-6 footv3-left mt-md-0 mt-5">
                <h3 class="mb-4 pb-3 w3f_title">Navigation</h3>
                <ul class="list-agileits">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            Home
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="@Url.Action("About", "Home")">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact", "Home")">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                <h3 class="mb-4 pb-3 w3f_title">Contact Us</h3>
                <div class="fv3-contact">
                    <span class="fas fa-envelope-open mr-2"></span>
                    <p>
                        <a href="mailto:ligitajaya@yahoo.com">tokocolour@gmail.com</a>
                    </p>
                </div>
                <div class="fv3-contact my-3">
                    <span class="fas fa-phone-volume mr-2"></span>
                    <p>
                        +62 811 0502
                    </p>
                </div>
                <div class="fv3-contact">
                    <span class="fas fa-home mr-2"></span>
                    <p>
                        Perumahan Citoh<br/> Blok J No. 2
                        <br/>Bogor
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 footerv2-w3ls mt-lg-0 mt-5">
                <h3 class="mb-4 w3f_title pb-3">Get In Touch</h3>
                <ul class="social-iconsv2 agileinfo mt-4">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //footer bottom -->
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="cpy-right text-center">
    <p>
        &copy; @DateTime.Now.Year.ToString() <a href="mailto:junrikson@gmail.com" target="_blank">eShop System</a>. All rights reserved</a>
    </p>
</div>
<!-- //copyright -->