@{
    ViewBag.Title = "Contact";
}

<!-- inner page banner -->
<section class="inner-page-banner">
    <div class="page-heading text-center">
        <h2>Contact Page</h2>
        <span class="section_1-breadcrumbs"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home home_1"></i> Home</a> <span>/ Contact</span></span>
    </div>
</section>
<!-- //inner page banner -->
<!-- contact -->
<section class="contact py-5">
    <div class="container">
        <div class="heading pb-4">
            <h3 class="heading mb-2 text-center"> <span>Contact </span> Us </h3>
            <p class="para mb-5 text-center">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id.</p>
        </div>
        <div class="row contact-agileinfo">
            <div class="col-md-7 contact-right">
                <form action="#" method="post">
                    <input type="text" name="Name" placeholder="Name" required="">
                    <input type="email" class="email" name="Email" placeholder="Email" required="">
                    <input type="text" name="Phone no" placeholder="Phone" required="">
                    <textarea name="Message" placeholder="Message" required=""></textarea>
                    <div class="read mt-3">
                        <a href="#">Submit <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
                    </div>
                </form>
            </div>
            <div class="col-md-5 mt-md-0 mt-5 contact-left">
                <div class="address">
                    <h5>Address:</h5>
                    <p><span class="fa fa-home"></span>Jl. Cengkeh No. 12-I, Jakarta 11110.</p>
                </div>
                <div class="address address-mdl">
                    <h5>Phones:</h5>
                    <p><span class="fa fa-phone"></span> +62(21) 690 8830</p>
                    <p><span class="fa fa-phone"></span> +62(21) 692 6219</p>
                    <p><span class="fa fa-phone"></span> +62(21) 692 6381</p>
                </div>
                <div class="address">
                    <h5>Email:</h5>
                    <p><span class="fa fa-envelope"></span> <a href="mailto:ligitajaya@yahoo.com">ligitajaya@yahoo.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="agileits-w3layouts-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.988121714383!2d106.8128928!3d-6.132297599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6a1dfec9c3e8fd%3A0xac7215c16a548e52!2sPT.+Pelayaran+Ligita+Jaya!5e0!3m2!1sen!2sid!4v1551281448048" allowfullscreen></iframe>
</section>
<!-- //contact -->
<!--/Login-->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="loginContainer">
    </div>
</div>
<!--//Login-->
<!--/Register-->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="registerContainer">
    </div>
</div>
<!--//Register-->
<!--/ForgotPassword-->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="forgotPasswordContainer">
    </div>
</div>
<!--//ForgotPassword-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")


    <script>
        $('#SignIn').click(function (event)
        {
            event.preventDefault();
            var url = $(this).attr("href");
            $.get(url, function (data)
            {
                $('#loginContainer').html(data);
                $('#loginModal').modal('show');

                $('form').each(function ()
                {
                    var $el = $(this);
                    $el.data('validator', null);
                    $.validator.unobtrusive.parse($el);
                })
            });
        });

        $('#Register').click(function (event)
        {
            event.preventDefault();
            var url = $(this).attr("href");
            $.get(url, function (data)
            {
                $('#registerContainer').html(data);
                $('#registerModal').modal('show');

                $('form').each(function ()
                {
                    var $el = $(this);
                    $el.data('validator', null);
                    $.validator.unobtrusive.parse($el);
                })
            });
        });

        $('#ForgotPassword').click(function (event)
        {
            event.preventDefault();
            var url = $(this).attr("href");
            $.get(url, function (data)
            {
                $('#forgotPasswordContainer').html(data);
                $('#forgotPasswordModal').modal('show');

                $('form').each(function ()
                {
                    var $el = $(this);
                    $el.data('validator', null);
                    $.validator.unobtrusive.parse($el);
                })
            });
        });
    </script>
}